<div class="footer">
  <div class="row" style="margin-bottom: 0;">
    <div class="col s4">
      <p class="left-align">

      </p></div>
    <div class="col s4"><p class="center-align"><a href="https://github.com/hunyadi8/league-check" target="_blank" style="color:Black"><i class="fab fa-github fa-2x"></i></a></p></div>
    <div class="col s4"><p class="right-align">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </p></div>
  </div>
</div>
