<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">


    <script defer src="js/fontawesome-all.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
   <link rel="shortcut icon" type="image/png" href="icons/favicon.ico"/>
    <title>League Checker!</title>
  </head>
  <body ng-app="leagueCheckApp" ng-controller="leagueCheckCtrl">


      <div class="row">
        <div class="col s12">
            <h1 class="center-align">
              League checker about
            </h1>
        </div>
      </div>

<% include ../partials/footer.ejs %>



  </body>
</html>
